<div id='Pokemon01' class='Pokemon01'>
    <div class='Image_Pokemon_01'>
      <img class='ImageP_01' src=""/>
      <img class='ImageF_01' src="./assets/images/F-P.png"/>
      <img class='Image_Objet_01' src=""/>
      <img id='Type_01' class='Type_01' src=""/>
      <img id='Type_01' class='Type_02' src=""/>
      <span class="infoBulle01"></span>
    </div>

    <div class='input-container01'>

      <div id="C01_01">
      <input id='Recherche01' class='Recherche01_01' type='text' placeholder='Nom du Pokemon'/>
      <ul translate="yes" class="drop01_01">
        <button id="bt01_01" class="bt01_01"></button>
      </ul>
      </div>

      <div id="C01_02">
      <input id='Recherche02' class='Recherche02_02' type='text' placeholder='Objet'/>
      <ul translate="yes" class="drop01_02">
        <button id="bt01_02" class="bt01_02"></button>
      </ul>
      </div>

      <div id="C01_03">
      <input id='Recherche03' class='Recherche03_03' type='text' placeholder='1er Attaque'/>
      <ul translate="yes" class="drop01_03">
        <button id="bt01_03" class="bt01_03"></button>
      </ul>
      </div>

      <div id="C01_04">
      <input id='Recherche04' class='Recherche04_04' type='text' placeholder='2eme Attaque'/>
      <ul translate="yes" class="drop01_04">
        <button id="bt01_04" class="bt01_04"></button>
      </ul>
      </div>

      <div id="C01_05">
      <input id='Recherche05' class='Recherche05_05' type='text' placeholder='3eme Attaque'/>
      <ul translate="yes" class="drop01_05">
        <button id="bt01_05" class="bt01_05"></button>
      </ul>
      </div>

      <div id="C01_06">
      <input id='Recherche06' class='Recherche06_06' type='text' placeholder='4eme Attaque'/>
      <ul translate="yes" class="drop01_06">
        <button id="bt01_06" class="bt01_06"></button>
      </ul>
      </div>

      <div id="C01_07">
      <input id='Recherche07' class='Recherche07_07' type='text' placeholder='Nature'/>
      <ul translate="yes" class="drop01_07">
        <button id="bt01_07" class="bt01_07"></button>
      </ul>
      </div>
    </div>
</div>



<div class="Tableau_Talent01">
  <p class='Talens01_01'>Talent</p>
  <p class='Talen01_01'></p>
</div>

