<script>
const test = document.getElementById("j003")

setTimeout(function(){
    test.classList.remove("Tableau_Stats01");
},10000)

</script>

<div id="j003" class="Tableau_Stats01">

    <table class="Table_Stats">
        <thead>
            <tr>
                <th class="es"></th>
                <th class="es"></th>
                <th class="start">Min</th>
                <th class="start">Max</th>
                <th class="start">Max+</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hp</td>
                <td class="i01"></td>
                <td id="h01_1" class="h01">???</td>
                <td id="h01_2" class="h01">???</td>
                <td></td>
            </tr>
            <tr>
                <td>Attaque</td>
                <td class="i01"><img id="imgT" class="i01_1" src=""></td>
                <td id="a01_1" class="a01">???</td>
                <td id="a01_2" class="a01">???</td>
                <td id="a01_3" class="a01">???</td>
            </tr>
            <tr>
                <td>Defense</td>
                <td class="i01"><img id="imgT" class="i01_2" src=""></td>
                <td id="d01_1" class="d01">???</td>
                <td id="d01_2" class="d01">???</td>
                <td id="d01_3" class="d01">???</td>
            </tr>
            <tr>
                <td>Attaque.Spe</td>
                <td class="i01"><img id="imgT" class="i01_3" src=""></td>
                <td id="as01_1" class="as01">???</td>
                <td id="as01_2" class="as01">???</td>
                <td id="as01_3" class="as01">???</td>
            </tr>
            <tr>
                <td>Defense.Spe</td>
                <td class="i01"><img id="imgT" class="i01_4" src=""></td>
                <td id="ds01_1" class="ds01">???</td>
                <td id="ds01_2" class="ds01">???</td>
                <td id="ds01_3" class="ds01">???</td>
            </tr>
            <tr>
                <td>Vitesse</td>
                <td class="i01"><img id="imgT" class="i01_5" src=""></td>
                <td id="v01_1" class="v01">???</td>
                <td id="v01_2" class="v01">???</td>
                <td id="v01_3" class="v01">???</td>
            </tr>
        </tbody>
    </table>
</div>