<script>
const test = document.getElementById("j002")

setTimeout(function(){
    test.classList.remove("Tableau_Stats01");
},10000)

</script>


<button class="Stats_Button01">Afficher Les Stats</button>

<div id="j002" class="Tableau_Stats01">

    <table class="Table_Stats">
        <thead>
            <tr>
                <th class="es"></th>
                <th class="es"></th>
                <th class="start">Min</th>
                <th class="start">Max</th>
                <th class="start">Max+</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hp</td>
                <td class="i01"></td>
                <td id="h01_1" class="h01">200</td>
                <td id="h01_2" class="h01">300</td>
                <td></td>
            </tr>
            <tr>
                <td>Attaque</td>
                <td id="i01_1" class="i01"></td>
                <td id="a01_1" class="a01">100</td>
                <td id="a01_2" class="a01">200</td>
                <td id="a01_3" class="a01">300</td>
            </tr>
            <tr>
                <td>Defense</td>
                <td id="i01_2" class="i01"></td>
                <td id="d01_1" class="d01">100</td>
                <td id="d01_2" class="d01">200</td>
                <td id="d01_3" class="d01">300</td>
            </tr>
            <tr>
                <td>Attaque.Spe</td>
                <td id="i01_3" class="i01"></td>
                <td id="as1_1" class="as01">100</td>
                <td id="as01_2" class="as01">200</td>
                <td id="as01_3" class="as01">300</td>
            </tr>
            <tr>
                <td>Defense.Spe</td>
                <td id="i01_4" class="i01"></td>
                <td id="ds01_1" class="ds01">100</td>
                <td id="ds01_2" class="ds01">200</td>
                <td id="ds01_3" class="ds01">300</td>
            </tr>
            <tr>
                <td>Vitesse</td>
                <td id="v0i_5" class="i01"></td>
                <td id="v01_1" class="v01">100</td>
                <td id="v01_2" class="v01">200</td>
                <td id="v01_3" class="v01">300</td>
            </tr>
        </tbody>
    </table>
</div>