.Pokemon_1 {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
}

.Image_Pokemon_01 {
    position: absolute;
    margin-left: 0px;
}

.ImageP_01 {
    z-index: 1;
    position: absolute;
    height: 150px;
    margin-top: 50px;
    margin-left: 10px;
    filter: drop-shadow(4px 4px 2px #00000049);
}

.ImageF_01 {
    z-index: 0;
    position: absolute;
    height: 150px;
    margin-top: 60px;
    margin-left: 10px;
}

.Image_Objet_01 {
    z-index: 2;
    position: absolute;
    height: 25px;
    margin-top: 180px;
    margin-left: 120px;
    filter: drop-shadow(2px 2px 2px #00000049);
}


#Type_01 {
    display: flex;
    height: 30px;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    top: 35px;
    left: 180px;
}

.input-container01 {
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.Tableau_Talent01{
    display: flex;
    position: absolute;
    z-index: 0;
    background-color: rgb(245, 245, 245);
    width: 100px;
    height: 80px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 330px;
    margin-left: 110px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.Talens01_01 {
    display: block;
    position: absolute;
    margin-top: -30px;
    font-size: 20px;
}

.Talen01_01 {
    display: block;
    position: absolute;
    font-size: 13px;
    margin-top: 35px;
}

 /* Affichage de l'info-bulle lorsqu'elle est active */
  .infoBulle01 {
    visibility: hidden;
    width: 200px;
    background: #333333cc;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -10px;
    margin-top: 50px;
    opacity: 0;
    transition: opacity 0.3s;
    top: 150px;
    font-family: sans-serif;
    font-size: 12px;
  }
  
  .infoBulle01.active  {
    visibility: visible;
    opacity: 1;
  }

  /* recherche pokemon*/

ul{
    display: block;
    position: relative;   
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px #00000049;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 4px;
    height: 0;
    transition: .4s height;
    list-style: none;
    font-family: sans-serif;
    overflow: hidden;
    transition: .4s height;
}

li{
    overflow: hidden;
    display: flex;
    position: relative;
    font-family: sans-serif;
    margin-left: -35px;
    padding: 5px;
    font-size: 12px;
}

#C01_01{
   display: block;
   position: absolute;
   margin-left: -25px;
   z-index: 907;
}

#Recherche01{
    width: 100px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 100px;
    padding: 5px;
    filter: drop-shadow(0px 0px 5px #00000049);
    font-size: 12px;
}

.drop01_01 {    
    display: block; 
    border-radius: 5px;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.drop01_01::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement pour Chrome/Safari */
}

.drop01_01::-webkit-scrollbar-thumb {
    background-color: transparent; /* Couleur de la poignée de la barre de défilement pour Chrome/Safari */
}

.drop01_01::-webkit-scrollbar-track {
    background-color: transparent; /* Couleur de la piste de la barre de défilement pour Chrome/Safari */
}

.pair {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Espacement entre les paires */
}

.IMP01  {
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
}


.LI01 {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    padding-right: 5px;
}



#C01_02{
    display: block;
    position: absolute;
    margin-left: 110px; 
    z-index: 906;
 }
 
 #Recherche02{
    width: 100px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 100px;
    padding: 5px;
    filter: drop-shadow(0px 0px 5px #00000049);
    font-size: 12px;
 }

 #C01_03{
    display: block;
    position: absolute;
    margin-left: -25px;
    margin-top: 210px;
 }

 #Recherche03{
    width: 100px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 100px;
    padding: 5px;
    filter: drop-shadow(0px 0px 5px #00000049);
    font-size: 12px;
 }

 #C01_04{
    display: block;
    position: absolute;
    margin-left: 110px; 
    margin-top: 210px;
 }
 
 #Recherche04{
    width: 100px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 100px;
    padding: 5px;
    filter: drop-shadow(0px 0px 5px #00000049);
    font-size: 12px;
 }

 #C01_05{
    display: block;
    position: absolute;
    margin-left: -25px;
    margin-top: 280px;
 }

 #Recherche05{
    width: 100px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 100px;
    padding: 5px;
    filter: drop-shadow(0px 0px 5px #00000049);
    font-size: 12px;
 }

 #C01_06{
    display: block;
    position: absolute;
    margin-left: 110px; 
    margin-top: 280px;
 }
 
 #Recherche06{
    width: 100px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 100px;
    padding: 5px;
    filter: drop-shadow(0px 0px 5px #00000049);
    font-size: 12px;
 }

 #C01_07{
    display: block;
    position: absolute;
    margin-left: -25px;
    margin-top: 350px;
 }

 #Recherche07{
    width: 100px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 100px;
    padding: 5px;
    filter: drop-shadow(0px 0px 5px #00000049);
    font-size: 12px;
 }

