.Stats_Button01 {
    z-index: 900;
    display: flex;
    position: relative;
    border: none;
    padding: 10px;
    border-radius: 100px;
    background: rgb(0, 174, 255);
    color: white;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 410px;
}


.Tableau_Stats01 {
    z-index: 899;
    display: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    filter: drop-shadow(4px 4px 5px #00000049);
    background: rgb(255, 255, 255);
    width: 310px;
    padding: 10px;
    border-radius: 5px;
}

.Table_Stats {
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.es, .i01 {
    width: 30%;
    text-align: center;
}

th {
    text-align: center;
    padding: 10px;
}

tr {
    font-family: sans-serif;
}

.h01,.a01,.d01, .as01,.ds01,.v01 {
    text-align: center;
}

td {
    padding-top: 5px;
}

#imgT{
    height: 10px;
}

